<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="homepagestyle.css">
</head>
<body>
  <header><h1>GOVERNMENT  RAILWAY  POLICE</h1>
  </header>

  <top>
  <a href="https://www.irctc.co.in"><img src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/0021/8022/brand.gif?itok=zQE13E8m" alt="IRCTC LOGO" class="left"></a>
  <img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Logo_of_RPF.jpg " class="right" ></top>
  <div class="button1"><a href="fir/"><input type="button" href="firform.html" value="File a complaint"></a></div><br>
  <div class="button2"><a href = "response/"><input type="button" href="response.html" value="Check Response"></a></div><br>
  <a href="police/"><input type="button" value="Admin Login" class="adminbutton"></a><br>


</body>
