<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href=''>
</head>
<body>
<form>
  <top><h1>YOUR RESPONSE</h1></top><br>
<input type="text" name="name" value="{{form.name}}" disabled><br>
<input type="text" name="dob" value="{{form.dob}}" disabled ><br>
<input type="text" name="pnr" value="{{form.pnr}}" disabled ><br>
<input type="text" name="gender" value="{{form.gender}}" disabled ><br>
<input type="text" name="phone" value="{{form.phone}}" disabled><br>
<input type="email" name="email" value="{{form.email}}" disabled><br>
<p>Address: {{form.address}}</p><br>
<p>Complaint: {{form.complaint}} </p> <br>
<p>Description: {{form.description}} </p><br>

</form>
</body>
